<html lang="en">
<head>
    <title>{% block title %}Peopleintuit{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="content" class="container">
    <div class="md-col-10">
      <h2></h2>
      <hr>
      <div>
          <form action="" method="post">{% csrf_token %}
              <p>Are you sure you want to delete "{{ object }}"?</p>
              <input type="submit" value="Confirm"/>
          </form>
      </div>
    </div>

</div>
</body>
</html>
